body{
  background: rgb(238,174,202);
  background: -moz-linear-gradient(232deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: -webkit-linear-gradient(232deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: linear-gradient(232deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img{
  margin-top: -20px;
  margin-left: 0px;
}
ul{
  align-content: right;
}
#black{
  background: black;
  height: 80vh;
}
#psychogradient{
  font-size: 6rem;
  background: -webkit-linear-gradient(rgb(68, 149, 177), rgb(17, 20, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}